@use 'bootstrap';

/* regola generale */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

$brand-color: #0282F9;

/* font-header */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* header */
.header-top{
    background-color: $brand-color;
    p{
        margin-bottom: 0;
        padding: 5px 0px;
        font-size: 0.8em;
    }
}
.header-bottom{
    font-family: 'Acme', sans-serif;
    height: 90px;
    .logo-header{
        height:80%;
        img{
            height: 100%;
    } 
        
    }
    ul{
        margin: 0px;
        height: 100%;

        li {
        display: inline;
        margin: 0px 20px;
        list-style: none;
        line-height: 90px;
        
        a {
            text-decoration: none;
            padding-bottom: 30px;
            &:visited{
                color: black;
            }
            &:hover {
                color: $brand-color;
                border-bottom: 5px solid $brand-color;
            }
            
        }
    }
    } 
    .searchbar{
        border-bottom: 1px solid $brand-color ;
        input {
            border: none;
            text-align: right;
        }
    }
}

/* slideshow */
#slideshow{
    background-image: url(../img/jumbotron.jpg);
    height: 450px;
    background-size: cover;
    background-position: top;
}

/* footer */
.footer-top {
    height: 360px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;

    .footer-list {
        padding: 30px 0px;
        h3 {
        color: white;
    }

    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            font-size: 0.8em;

            a {
                text-decoration: none;
                color: #82827f;

                &:visited {
                    color: #82827f;
                }
            }
        }
    }
    }
    .footer-logo img {
        position: absolute;
        top: -80px;
        right: 0px;
    }  
}
.footer-bottom {
    height: calc(100vh - 929.18px);
    background-color: #303030;

    .sign-up {
        padding: 10px;
        border: 3px solid $brand-color;

        a {
            text-decoration: none;
            color: white;

            &:visited {
                color: white;
            }
        }
    }
    .social {
        h3 {
            color: $brand-color;
            font-size: 20px;
            margin-bottom: 0!important;
          align-self: center;

        }
        img {
            margin: 0px 10px;
          width: 35px;
          height: 35px;
        }
    }
}


